body {
  font-family: "Inter", sans-serif;
}

/* Specific Font Styles */
.raleway {
  font-family: "Raleway", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.meeting {
  border: 1px solid var(--Stroke, #2b2b2b);
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  padding: 1.6rem;
  border-radius: 12px;
}
