@import "tailwindcss";

body {
  @apply bg-black text-white overflow-x-hidden;
  box-sizing: content-box;
}

.header {
  background-image: url("../asset/image/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.centered {
  @apply px-28;
}

.heading-secondary {
  @apply text-6xl leading-1.5;
  font-family: "Raleway", sans-serif;
}

nav {
  @apply flex items-center justify-between px-28 py-7;
}

.logo {
  @apply flex items-center justify-center gap-1;
}

.nav-links {
  @apply flex items-center p-5 rounded-[20px] text-base font-bold;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--Stroke, #2b2b2b);
}
.nav-actions {
  @apply flex items-center gap-3;
}
.btn {
  padding: 10px 20px;
  transform: matrix(1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn:active {
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
}
.btn-accent {
  @apply rounded-xl bg-[#4E47FF] px-9 py-3 text-white font-bold;
}

.btn-accent {
  display: inline-block;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Visited state */
.btn-accent:visited {
  color: white;
  opacity: 0.9;
}

/* Hover state */
.btn-accent:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
}

/* Active state */
.btn-accent:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
  opacity: 0.8;
}

.hero {
  @apply flex justify-center items-center mt-14;
}

.hero-textbox {
  @apply flex flex-col text-wrap justify-center items-center md:w-full lg:w-4/6 xl:w-3/5 md:px-5 lg:px-14 xl:px-24 text-center  gap-9;
}

.heading-primary {
  @apply text-7xl font-bold;
}

.button {
  @apply bg-black px-14 py-[18px] rounded-xl;
}

.featur-grid {
  @apply grid grid-cols-4 mt-3 py-2 gap-8;
}
.featur-grid > .box {
  @apply flex flex-col items-start gap-[18px] p-7;
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  border-radius: 10px;
  border: 1px solid #2b2b2b;
}
.box2 {
  @apply flex items-center justify-between  gap-[18px] p-5;
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  border-radius: 10px;
  border: 1px solid #2b2b2b;
}

.svg--wrapper {
  @apply h-11 w-11 bg-[#00000033] rounded-[9px] flex items-center justify-center;
}

/* section price */
.meeting .btn-accent {
  width: 100%;
}

.pricing {
  @apply mx-40;
}
.price-wrapper {
  @apply bg-[#4E47FF] flex flex-col items-start justify-center gap-5 p-10 rounded-[20px];
}

.price-wrapper h4 {
  @apply text-3xl font-bold;
}

.price-wrapper p {
  @apply text-sm w-3/4;
}

.price-wrapper ul {
  @apply list-none space-y-3 grid grid-cols-2 gap-x-[119px] gap-y-4;
}

.price-wrapper ul li {
  @apply flex items-center gap-2;
}

.price-wrapper ul li img {
  @apply h-5 w-5;
}

.price-wrapper ul li span {
  @apply text-sm text-gray-300;
}

.price-wrapper .price {
  @apply flex items-center justify-between bg-black px-10 py-7  mt-2 w-full rounded-xl;
}

.price-wrapper .price p {
  @apply text-6xl font-bold;
}

.price-wrapper .price p span {
  @apply text-base text-gray-400;
}

.price-wrapper .price img {
  @apply w-20 h-20;
}

/* faq */

.faq-section {
  @apply flex flex-col lg:flex-row justify-center items-center gap-4 my-40  relative;
}

.spring {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  transform: translate(0%, -20%);
}

.accordion {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  border: 1px solid #2b2b2b;
}

.accordion-header {
  background: #2b2b2b;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.accordion-icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  background: #2b2b2b;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion.active .accordion-content {
  padding: 1rem;
  max-height: 500px;
}

.accordion.active .accordion-icon {
  transform: rotate(180deg);
}

/* section contact */

.contact {
  border-top: 1px solid #2a2a2a;
  @apply flex flex-col items-center justify-center gap-5 py-32;
}
.heading {
  @apply text-6xl flex-2/5 text-white font-bold leading-[150%] capitalize;
}

.form {
  @apply flex flex-col  justify-center gap-5 my-20 w-full max-w-2xl;
}
.form label {
  @apply flex flex-col items-start gap-2;
}

.input {
  @apply bg-transparent border border-[#2B2B2B] text-white text-xl rounded-lg px-5 py-3 w-full;
}

.input::placeholder {
  @apply text-[#888888] font-light;
}