@import "tailwindcss";

body {
  @apply bg-black text-white overflow-x-hidden;
}

.header {
  background-image: url("../asset/image/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}
.centered{
    @apply  px-28;
}


.heading-secondary{
    @apply text-6xl leading-1.5;
    font-family: 'Raleway', sans-serif;
}

nav {
  @apply flex items-center justify-between px-28 py-7;
}

.logo {
  @apply flex items-center justify-center gap-1;
}

.nav-links {
  @apply flex items-center p-5 rounded-[20px] text-base font-bold;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--Stroke, #2b2b2b);
}
.nav-actions {
  @apply flex items-center gap-3;
}
.btn {
  padding: 10px 20px;
  transform: matrix(1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn:active {
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
}
.btn-accent {
  @apply rounded-xl bg-[#4E47FF] px-9 py-3 text-white font-bold;
}

.btn-accent {
  display: inline-block;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Visited state */
.btn-accent:visited {
  color: white;
  opacity: 0.9;
}

/* Hover state */
.btn-accent:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
}

/* Active state */
.btn-accent:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
  opacity: 0.8;
}

.hero {
@apply flex justify-center items-center mt-14 ;
}

.hero-textbox {
  @apply flex flex-col text-wrap justify-center items-center md:w-full lg:w-4/6 xl:w-3/5 md:px-5 lg:px-14 xl:px-24 text-center  gap-9;
  

 
}

.heading-primary {
  @apply text-7xl font-bold ;
}

.button {
  @apply bg-black px-14 py-[18px] rounded-xl;
}

.featur-grid{
  @apply grid grid-cols-4 mt-3 py-2 gap-8;
}
.featur-grid>.box{
  @apply flex flex-col items-start gap-[18px] p-7;
  background: linear-gradient(121.9deg, #1C1C1C 0%, #050505 96.81%);
border-radius: 10px;
border: 1px solid #2B2B2B;

}
.box2{
    @apply flex items-center justify-between  gap-[18px] p-5;
  background: linear-gradient(121.9deg, #1C1C1C 0%, #050505 96.81%);
border-radius: 10px;
border: 1px solid #2B2B2B;
}

.svg--wrapper{
  @apply h-11 w-11 bg-[#00000033] rounded-[9px] flex items-center justify-center;
}

