@import "tailwindcss";

body {
  @apply bg-black text-white overflow-x-hidden;
  box-sizing: border-box;
}

.header {
  background-image: url("../asset/image/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  @apply h-[80vh] md:h-[90vh] lg:h-[100vh] bg-cover bg-no-repeat bg-center;
}
.centered {
  @apply px-7 md:px-10 lg:px-20 xl:px-28   ;
}

.heading-secondary {
  @apply text-3xl md:leading-1 w-full md:text-4xl lg:text-5xl xl:text-6xl font-bold  whitespace-nowrap;
  font-family: "Raleway", sans-serif;
}

nav {
  @apply flex items-center justify-between px-5 md:px-7 lg:px-15 xl:px-20 2xl:px-28 py-7;
}

.logo {
  @apply flex items-center justify-center gap-1;
}

li{
  @apply list-none;
}

.nav-links {
  @apply hidden lg:flex items-center p-5 rounded-[20px] text-base font-bold;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--Stroke, #2b2b2b);
}
.nav-actions {
  @apply hidden lg:flex items-center gap-3;
}
.btn {
  padding: 10px 20px;
  transform: matrix(1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn:active {
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
}
.btn-accent {
  @apply rounded-xl bg-[#4E47FF] px-3 lg:px-9 py-3 text-white font-bold;
}

.btn-accent {
  display: inline-block;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* Visited state */
.btn-accent:visited {
  color: white;
  opacity: 0.9;
}

/* Hover state */
.btn-accent:hover {
  background: linear-gradient(270deg, #ffb912 0%, #ff12dc 100%);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 18, 220, 0.4);
}

/* Active state */
.btn-accent:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(255, 18, 220, 0.5);
  opacity: 0.8;
}

.hero {
  @apply flex justify-center items-center mt-14;
}

.hero-textbox {
  @apply flex flex-col text-wrap justify-center items-center w-full md:w-full lg:w-4/6 xl:w-3/5 md:px-5 lg:px-14 xl:px-24 text-center  gap-9;
}

.heading-primary {
  @apply text-4xl  max-sm:text-2xl px-10 sm:px-5 md:text-6xl md:px-20 lg:px-5 lg:text-7xl  font-bold;
}

.button {
  @apply bg-black px-14 py-[18px] rounded-xl;
}

.feature-grid {
  @apply flex flex-col  lg:grid lg:grid-cols-4 mt-3 py-2 gap-8 2xl:gap-10;
}
.feature-grid > .box {
  @apply flex flex-col items-start gap-3 lg:gap-[18px] p-7;
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  border-radius: 10px;
  border: 1px solid #2b2b2b;
}
.box2 {
  @apply flex items-center justify-between gap-3  lg:gap-[18px] p-7;
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  border-radius: 10px;
  border: 1px solid #2b2b2b;
}

.svg--wrapper {
  @apply h-11 w-11 bg-[#00000033] rounded-[9px] flex items-center justify-center;
}

/* section price */
.meeting .btn-accent {
  width: 100%;
}


.price-wrapper {
  @apply bg-[#4E47FF] flex flex-col items-start justify-center gap-5 p-7 sm:p-5 rounded-[20px];
}

.price-wrapper h4 {
  @apply text-3xl max-sm:text-2xl max-sm:whitespace-nowrap font-bold;
}

.price-wrapper p {
  @apply text-sm max-sm:text-xs max-sm:text-center md:w-3/4;
}

.price-wrapper ul {
  @apply list-none space-y-3 grid grid-cols-2 max-sm:grid-cols-1  gap-5 lg:gap-x-[119px] gap-y-4;
}

.price-wrapper ul li {
  @apply flex items-center gap-2 whitespace-nowrap;
}

.price-wrapper ul li img {
  @apply h-5 w-5;
}

.price-wrapper ul li span {
  @apply text-sm text-gray-300;
}

.price-wrapper .price {
  @apply flex items-center justify-between max-sm:px-3 bg-black px-8 lg:px-10  lg:py-7 mt-2 w-full rounded-xl;
}

.price-wrapper .price p {
  @apply text-3xl max-sm:text-xl  md:text-4xl lg:text-6xl font-bold;
}

.price-wrapper .price p span {
  @apply text-base text-gray-400;
}

.price-wrapper .price img {
  @apply  h-20;
}

/* faq */

.faq-section {
  @apply flex flex-col lg:flex-row justify-center items-center gap-4 my-15 lg:my-40  relative;
}

.spring {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  transform: translate(0%, -20%);
}

.accordion {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  border: 1px solid #2b2b2b;
}

.accordion-header {
 
  @apply bg-[#2b2b2b]  max-sm:text-sm px-5 py-3 flex justify-between items-center cursor-pointer font-bold;
  border-bottom: 1px solid #2b2b2b;
}

.accordion-icon {
  /* font-size: 1.5rem;
  transition: transform 0.3s; */
  @apply text-2xl transition-transform duration-300 ease-in-out;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  background: #2b2b2b;
  transition: max-height 0.4s ease, padding 0.3s ease;
  @apply max-sm:text-xs
}

.accordion.active .accordion-content {
  /* padding: 1rem; */
  max-height: 500px;
}

.accordion.active .accordion-icon {
  transform: rotate(180deg);
}

/* section contact */

.contact {
  border-top: 1px solid #2a2a2a;
  @apply flex flex-col items-center justify-center gap-5 py-32;
}
.heading {
  @apply text-4xl text-center  lg:text-6xl lg:text-left w-full  flex-2/5 text-white font-bold lg:leading-[150%] capitalize;
}

.form {
  @apply flex flex-col  justify-center gap-5 my-20 w-full max-w-2xl;
}
.form label {
  @apply flex flex-col items-start gap-2;
}

.input {
  @apply bg-transparent border border-[#2B2B2B] text-white text-xl rounded-lg px-5 py-3 w-full;
}

.input::placeholder {
  @apply text-[#888888] font-light;
}

/* section footer */
.footer-bg {
  @apply relative;
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 120%;
  width: 100%;
  z-index: -1;
  /* transform: translateY(-50%); */
  background-size: cover;
  /* @apply object-cover; */
}

.footer {
  border: 1px solid var(--Stroke, #2b2b2b);
  background: linear-gradient(121.9deg, #1c1c1c 0%, #050505 96.81%);
  @apply flex flex-col  gap-14 p-5 lg:p-20 rounded-[40px] relative;
}

.star {
  @apply absolute -top-40 left-0 -z-10 w-full h-full;
  transform: translate(-50%, -50%);
}
.footer-content {
  @apply flex  flex-col justify-center md:flex-row md:justify-between items-center;
}

.footer p {
  @apply text-sm text-center lg:text-left text-[#F5F5F5] font-light  lg:w-1/2 lg:break-after-all;
}

.footer-links {
  @apply flex pt-5 lg:pt-0 flex-col md:flex-row items-center gap-6 2xl:gap-12 text-base;
}
.footer-links a {
  @apply whitespace-nowrap px-2;
}

.footer-socials ul {
  @apply flex items-center gap-4;
}

.footer-socials ul li {
  border: 1px solid #2a2a2a;
  @apply flex items-center justify-center bg-[#151515] rounded-full  p-2;
}
